*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body,html{
    height:100%;
    width: 100vw;
    background: #ffff;
    
}
/* navbar */


/* button */
.btn {
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: white;
    background-color: #4CAF4F;
}
.btn-1 {
    border: 1px solid #4CAF50; 
    border-radius: 4px; 
    color: #4CAF50; 
    background-color: transparent;
    padding: 8px 20px;
}

.section-background
{
    display: flex;
    width:100%;
    background: #F5F7FA ;
}

.justify-between
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
#icons2 img{
    width:45px;
    height: 30px;
}
#icons3 img{
    width:35px;
    height: 25px;
}
.footer
{
    background: #263238;
}
 
.footer-grey
{
       background: #9d9fa4;
}